.hotel
  background-color: $secodary
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 0px
      margin-top: 4px
    &__name
      margin-bottom: 0
      margin-top: 4px
      margin-right: 14px
    &__description
      margin: 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-description 
    font-size: 12px
    line-height: 15px
    margin: 0
.stars 
  flex-basis: 100%
.offer 
  font-size: 10px
  line-height: 13px
  background-color: $primary
  color: $light
  padding: 4px 9px
  border-radius: 3px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  background-color: $primary
  color: $light
  padding: 8px 6px
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px

